{{#each locations}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{name}}
    </h2>
    <span class="tag is-primary block">
      {{category}}
    </span>
    <p class="block">
      {{description}}
    <p>
    <div class="block">
      <p>
        Latitude: {{latitude}}
      <p>
      <p>
        Longitude: {{longitude}}
      <p>
    </div>
    <a href="/location/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
    </a>
    <a href="/dashboard/deletelocation/{{_id}}" class="button">
      <i class="fas fa-trash"></i>
    </a>
  </div>
{{/each}}
